<p-blockUI [blocked]="loading.Status">
    <p-progressBar mode="indeterminate"></p-progressBar>
</p-blockUI>
<p-tabView *ngIf="vm != null">
    <p-tabPanel header="Informações da Movimentação">
        <div class="p-grid">
            <div class="p-col-12 p-md-4 p-lg-4 ui-fluid form-item">
                <label>Tipo de Movimentação</label>
                <p-dropdown appendTo="body" [options]="tipos" [(ngModel)]="vm.Tipo"></p-dropdown>
            </div>
            <div class="p-col-12 p-md-4 p-lg-4 ui-fluid form-item">
                <label>Data</label>
                <p-calendar appendTo="body" [(ngModel)]="vm.Data" [showIcon]="true" [locale]="localeBR" dateFormat="dd/mm/yy" showButtonBar="true"></p-calendar>
            </div>
            <div class="p-col-12 p-md-4 p-lg-4 ui-fluid form-item">
                <label>Quantidade</label>
                <input type="number" pInputText [(ngModel)]="vm.Quantidade"> 
            </div>
            
            <div class="p-col-12 p-md-6 p-lg-6 ui-fluid form-item">
                <label>Remetente</label>
                <p-dropdown appendTo="body" [options]="remetentes" [(ngModel)]="vm.IdRemetente" [filter]="true"></p-dropdown>
            </div>
            <div class="p-col-12 p-md-6 p-lg-6 ui-fluid form-item">
                <label>Pedido</label>
                <p-dropdown appendTo="body" [options]="pedidos" [(ngModel)]="vm.IdPedido" [filter]="true"></p-dropdown>
            </div>

            
            <div class="p-col-12 ui-fluid form-item">
                <label>Descrição</label>
                <textarea [rows]="3" pInputTextarea [(ngModel)]="vm.Descricao"></textarea> 
            </div>
        </div>
    </p-tabPanel>
</p-tabView>

<div class="form-footer">
    <button pButton type="button" icon="pi pi-save" iconPos="left" label="Salvar Registro" class="float-right" (click)="onSalvar_Click()" [disabled]="loading.Status"></button>
</div>
