<p-blockUI [blocked]="loading.Status">
    <p-progressBar mode="indeterminate"></p-progressBar>
</p-blockUI>
<p-tabView *ngIf="vm != null">
    <p-tabPanel header="Informações do Caminhão">
        <div class="p-grid">
            <div class="p-col-12 p-md-3 p-lg-3 ui-fluid form-item">
                <label>Placa CV</label>
                <input type="text" class="text-uppercase" pInputText [(ngModel)]="vm.Placa"> 
            </div>

            <div class="p-col-12 p-md-3 p-lg-3 ui-fluid form-item">
                <label>Placa CR</label>
                <input type="text" class="text-uppercase" pInputText [(ngModel)]="vm.Placa2"> 
            </div>

            <div class="p-col-12 p-md-3 p-lg-3 ui-fluid form-item">
                <label>Placa CR 2</label>
                <input type="text" class="text-uppercase" pInputText [(ngModel)]="vm.Placa3"> 
            </div>

            <div class="p-col-12 p-md-3 p-lg-3 ui-fluid form-item">
                <label>Placa CR 3</label>
                <input type="text" class="text-uppercase" pInputText [(ngModel)]="vm.Placa4"> 
            </div>

            <div class="p-col-12 p-md-3 p-lg-3 ui-fluid form-item">
                <label>Renavam CV</label>
                <input type="text" class="text-uppercase" pInputText [(ngModel)]="vm.Renavam"> 
            </div>

            <div class="p-col-12 p-md-3 p-lg-3 ui-fluid form-item">
                <label>Renavam CR</label>
                <input type="text" class="text-uppercase" pInputText [(ngModel)]="vm.Renavam2"> 
            </div>

            <div class="p-col-12 p-md-3 p-lg-3 ui-fluid form-item">
                <label>Renavam CR 2</label>
                <input type="text" class="text-uppercase" pInputText [(ngModel)]="vm.Renavam3"> 
            </div>

            <div class="p-col-12 p-md-3 p-lg-3 ui-fluid form-item">
                <label>Renavam CR 3</label>
                <input type="text" class="text-uppercase" pInputText [(ngModel)]="vm.Renavam4"> 
            </div>

            <div class="p-col-12 p-md-2 p-lg-2 ui-fluid form-item">
                <label>Estado</label>
                <p-dropdown appendTo="body" [options]="estados" [(ngModel)]="vm.Estado" [filter]="true" (onChange)="onEstado_Change()"></p-dropdown>
            </div>

            <div class="p-col-12 p-md-2 p-lg-2 ui-fluid form-item">
                <label>Cidade</label>
                <p-dropdown appendTo="body" [options]="cidades" [(ngModel)]="vm.Cidade" [filter]="true"></p-dropdown>
            </div>

            <div class="p-col-12 p-md-2 p-lg-2 ui-fluid form-item">
                <label>Capacidade</label>
                <input type="text" [(ngModel)]="vm.Capacidade" decimal2Mask> 
            </div>

            <div class="p-col-12 p-md-3 p-lg-3 ui-fluid form-item">
                <label>Motorista</label>
                <p-dropdown appendTo="body" [options]="motoristas" [(ngModel)]="vm.IdMotorista" [filter]="true"></p-dropdown>
            </div>

            <div class="p-col-12 p-md-3 p-lg-3 ui-fluid form-item">
                <label>Proprietário</label>
                <p-dropdown appendTo="body" [options]="proprietarios" [(ngModel)]="vm.IdProprietario" [filter]="true"></p-dropdown>
            </div>

            <div class="p-col-12" *ngIf="vm.Id != 0">
                <p-checkbox label="Registro ativo" [(ngModel)]="vm.Ativo" binary="true"></p-checkbox>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Anexos">
        <p-toolbar>
            <div class="ui-toolbar-group-right">
                <button pButton type="button" icon="pi pi-upload" iconPos="left" label="Adicionar Arquivo" (click)="onAdicionaAnexo_Click()"></button>
            </div>
        </p-toolbar>
        
        <p-table [value]="vm.Anexos">
            <ng-template pTemplate="header">
                <tr>
                    <th>Arquivo</th>
                    <th style="width: 100px">Ações</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-anexo>
                <tr>
                    <td>
                        <a [href]="anexo.Anexo.Arquivo" target="_blank">
                            {{ anexo.Anexo.Nome }}
                        </a>
                    </td>
                    <td class="text-align-center">
                        <a class="action-danger" (click)="onDeletaAnexo_Click(anexo)">
                            <i class="pi pi-times"></i>
                        </a>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="2" class="text-align-center">
                        Nenhum registro encontrado
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>
</p-tabView>

<div class="form-footer">
    <button pButton type="button" icon="pi pi-plus" iconPos="left" label="Cadastrar Motorista" class="float-left ui-button-secondary" (click)="onAdicionaMotorista_Click()" [disabled]="loading.Status"></button>
    <button pButton type="button" icon="pi pi-plus" iconPos="left" label="Cadastrar Proprietário" class="float-left ui-button-secondary" (click)="onAdicionaProprietario_Click()" [disabled]="loading.Status"></button>
    <button pButton type="button" icon="pi pi-save" iconPos="left" label="Salvar Registro" class="float-right" (click)="onSalvar_Click()" [disabled]="loading.Status"></button>
</div>
